There are two compelling factors. One is the total number of visits for this product. The more time users spent for this product, the more likely he or she will consider future adoption. Let's call this feature, total_visits. We are interested in total number of visits in past 7 days. Total_visits can be calculated from takehome_user_engagement csv file. For example,

In [1]:
import pandas as pd

In [3]:
takehome_user_log = pd.read_csv('takehome_user_engagement.csv')
takehome_user_log.head()

            time_stamp  user_id  visited
0  2014-04-22 03:53:30        1        1
1  2013-11-15 03:45:04        2        1
2  2013-11-29 03:45:04        2        1
3  2013-12-09 03:45:04        2        1
4  2013-12-25 03:45:04        2        1

In [8]:
total_time_spend= takehome_user_log.groupby('user_id').sum()
total_time_spend = total_time_spend[total_time_spend['visited'] >=3] #filter rows with counts<3
total_time_spend.head()

         visited
user_id
2             14
10           284
20             7
33            18
42           342

In [10]:
result = pd.merge(takehome_user_log,
                 total_time_spend,
                 on='user_id')
result.head()

            time_stamp  user_id  visited_x  visited_y
0  2013-11-15 03:45:04        2          1         14
1  2013-11-29 03:45:04        2          1         14
2  2013-12-09 03:45:04        2          1         14
3  2013-12-25 03:45:04        2          1         14
4  2013-12-31 03:45:04        2          1         14

The above table contains only user who has logged in this product for more than 3 times. It remains to check whether a given user has visited more than 3 time during last seven day periods. I would consider last seven day periods, which are last three rows for particular users. Let us say, last three days are d1, d2, d3, you can check whether (d3-d2).dt.days + (d2-d1).dt.days is less or equal to 7.

Another important factor is whether users log in this product for the last seven days period. This feature can be found in takehome_user.csv file. This is a classification problem. The label is whether a user will adopt this product in future. The features are total_visit for at least 3 different days for last seven days periods and whether users logged in to this product for past seven days. Other features can be considered by looking at correlation matrix-pick features with strong correlation with the label. I will consider different popular classification algorithms for modelling, for example, logistic regression, random forest, support vector machine, and neural network.